<script async src="https://www.googletagmanager.com/gtag/js?id={{ .Site.Params.googleTagManagerID }}"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', '{{ .Site.Params.googleTagManagerID }}');
</script>

<link rel="icon" href="{{ .Site.Params.favicon.URL | absURL }}"> 

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=MonteCarlo&display=swap" rel="stylesheet">
